@model Duble2.Models.Student_has_Tasks

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student_has_Tasks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskPassDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskPassDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskGetDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskGetDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Group_2_GroupNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Group_2_GroupNum)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Student.FIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tasks.Subject_SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tasks.Subject_SubjectName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Student_NumberOfCreditBook, id2 = Model.Tasks_idTaskNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
