@model IEnumerable<Duble2.Models.TaskOneProc_Result>

@{
    ViewBag.Title = "Index";
}

@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Index</h2>



<div class="row mb-4">
    <div class="col-md-8 ">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Group_2_GroupNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfCreditBook)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.FIO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.count)
                </th>

                <th>

                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Group_2_GroupNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfCreditBook)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FIO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.count)
                    </td>
                </tr>
            }

        </table>
        <div>
            @using (Html.BeginForm("Index", "Task1", FormMethod.Post))
            {
                <table>
                    <tr>
                        <td><p>Группа</p></td>
                        <td><input type="text" name="groupNum" /></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Найти" /></td>
                        <td></td>
                    </tr>

                </table>
            }

        </div>

        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Page", new { list = ViewContext.ViewBag.PagedList, page }))

    </div>
</div>

