@model IEnumerable<Duble2.Models.Student>

@{
    ViewBag.Title = "Index";
}

@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Index</h2>


<div class="row">
    <div class="col">

    </div>
    <div class="col">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfCreditBook)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Group_2.GroupNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FIO)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfCreditBook)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Group_2.GroupNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FIO)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.NumberOfCreditBook }) |
                        @Html.ActionLink("Details", "Details", new { id = item.NumberOfCreditBook }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.NumberOfCreditBook })
                    </td>
                </tr>
            }
        </table>


        <a class="btn btn-primary" href="@Url.Action("Create","Students")">Learn more &raquo;</a>

        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
    </div>
</div>





